.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.errorMessage {
  font-display: inherit;
  background-color: inherit;
  text-align: center;
  color: #1b470f;
  font-weight: bolder;
  margin: auto;
  padding: 5px;
  height: fit-content;
  font-style: inherit;
  font-size: larger;
}

/*  style={{
                    textAlign: "center",
                    opacity: "0.5",
                  }} */
